<section class = "section">
  <div class = "container">
    <%# edit stock page, render the same part in new stock page %>
    <h1 class = "title is-size-1-desktop is-size-3-tablet is-size-5-mobile has-text-centered">Edit your stock</h1>

    <%= render "shared/stock_form"%>
  
  </div>
</section>