<div >
  <%= link_to "#{card.title}", card_path(card.id), class: "has-text-left-desktop has-text-grey-dark  has-text-weight-semibold is-family-code"%>
  <%= link_to "#{card.color}", card_path(card.id), class: "has-text-centered-desktop has-text-grey-dark  has-text-weight-semibold is-family-code" %>
  <%= link_to "#{card.card_type}", card_path(card.id), class: "has-text-right-desktop has-text-grey-dark  has-text-weight-semibold is-family-code"%>
</div>