<%# Order complete message %>
<section class = "section">
  <div class = "container">
    <h1 class = "title">Congrats!!<h1>
    <h1 class = "title">Your order is complete!</h1>
    <button class = "button is-rounded"><%=link_to "Home", root_path%></button>
  </div>
</section>